html,
body {
    margin: auto;
    background: #f6f6f6;
    --paper-accent: #ED1C24;
    max-width: 720px;
}

#page-heading {
    --paper-accent: #231F20;
}

html,
body,
input,
textarea,
button {
    font-family: 'Barlow', system-ui, sans-serif;
    font-size: 1em;
}

main {
    max-width: 720px;
    margin: 0 auto;
    padding: 16px 0 60px 0;
}

h1,
h2,
h3 {
    font-weight: normal;
}

a.paper {
    text-decoration: none;
}

ul .card {
    list-style: none;
}

a {
    color: var(--paper-accent);
}

p {
    line-height: 1.5em;
}

pre,
code {
    background: #eee;
    font-family: 'Menlo', 'Monaco', 'Courier', monospace;
}

pre {
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    padding: .6em;
}

code {
    padding: .1em .4em;
    font-size: 1em;
}

header,
section,
details {
    margin-bottom: .8em;
}

summary {
    cursor: pointer;
}

h1,
h2 {
    margin-top: .6rem;
}

summary h2 {
    display: inline-block;
    margin-bottom: .4em;
}

.buttons,
.cards,
.hbar,
.buttons .left,
.buttons .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    padding-bottom: 5px;
}

.buttons,
.hbar {
    justify-content: space-between;
}

.cards>div {
    max-width: 25%;
    margin: auto;
}

.buttons .right .paper {
    margin-left: .6em;
    margin-right: 0;
}

.buttons .paper {
    margin-right: .6em;
}

.border-cards {
    overflow: hidden;
    width: calc(100% + 16px);
    padding: 8px;
    box-sizing: border-box;
    transform: translateX(-8px);
}

.border-card {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    min-height: 80px;
    width: calc(50% - 8px);
}

.footer {
    margin-top: 30px;
}

.mobile {
    display: none !important;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
}

input {
    margin-bottom: 10px;
}

@media only screen and (max-width: 520px) {
    .mobile {
        display: initial !important;
    }
    .desktop {
        display: none !important;
    }
}

@media only screen and (max-width: 750px) {
    main {
        width: 96%;
    }
}