<!DOCTYPE html>
<title>{% block title %}{% if title %}{{ title }} - Weekendinator{% else %}Weekendinator{% endif %}{% endblock %}</title>
<link rel="stylesheet" href="https://unpkg.com/@thesephist/paper.css/dist/paper.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<header class="accent paper" id="page-heading">
	<h1>{% if title %}{{ title }}{% else %}Weekendinator{% endif %}</h1>
</header>

<section class="buttons">
	<div class="left">
		<a class="paper movable paper-border-left" href="{{ url_for('meta.home') }}">Home</a>
	</div>
	<div class="right">
		{% if current_user.is_authenticated %}
		<a class="paper movable paper-border-right" href="{{ url_for('auth.logout') }}">Logout</a>
		{% else %}
		<a href="{{ url_for('auth.register') }}" class="paper movable">Register</a>
		<a href="{{ url_for('auth.login') }}" class="paper movable paper-border-right">Login</a>
		{% endif %}
</section>

<section class="content paper">
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

	{% block content %}
	This is looking empty! Most likely, this page hasn't been fully implemented yet.
	{% endblock %}
</section>
